h2 {
  font-size: 3rem;
}

h1 {
  font-size: 4rem;
  color: #1f618d;
}

.gallery {
  background: #eee;
  padding: 5rem 2rem;
}

.gallery .header {
  margin-bottom: 3rem;
}

.gallery .gallery-content .gallery-container img {
  width: 100%;
  padding: 1rem;
}

.gallery .gallery-content .gallery-container .row1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.gallery .gallery-content .gallery-container .row1 .row1-c1 .row1-r1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.gallery .gallery-content .gallery-container .row1 .row1-c1 .row1-r1 img {
  width: 100%;
}

.gallery .gallery-content .gallery-container .row1 .row1-c1 .row1-r1 .e1 {
  width: 33.33%;
}

.gallery .gallery-content .gallery-container .row1 .row1-c1 .row1-r1 .e2 {
  width: 33.33%;
}

.gallery .gallery-content .gallery-container .row1 .row1-c1 .row1-r1 .e3 {
  width: 33.33%;
}

.gallery .gallery-content .gallery-container .row1 .row1-c1 .row1-r2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.gallery .gallery-content .gallery-container .row1 .row1-c1 .row1-r2 img {
  width: 100%;
  height: 25rem;
}

.gallery .gallery-content .gallery-container .row1 .row1-c1 .row1-r2 .e1 {
  width: 50%;
}

.gallery .gallery-content .gallery-container .row1 .row1-c1 .row1-r2 .e2 {
  width: 50%;
}

.gallery .gallery-content .gallery-container .row1 .row1-c2 img {
  width: 100%;
  height: 100%;
}

.gallery .gallery-content .gallery-container .row2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.gallery .gallery-content .gallery-container .row2 img {
  width: 100%;
  height: 30rem;
}

.gallery .gallery-content .gallery-container .row2 .e1 {
  width: 50%;
}

.gallery .gallery-content .gallery-container .row2 .e2 {
  width: 50%;
}

@media (max-width: 800px) {
  .gallery .gallery-content .gallery-container img {
    width: 100%;
    padding: 1rem;
  }
  .gallery .gallery-content .gallery-container .row1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .gallery .gallery-content .gallery-container .row1 .row1-c1 .row1-r1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .gallery .gallery-content .gallery-container .row1 .row1-c1 .row1-r1 img {
    height: 100%;
    width: 100%;
  }
  .gallery .gallery-content .gallery-container .row1 .row1-c1 .row1-r1 .e1 {
    width: 100%;
  }
  .gallery .gallery-content .gallery-container .row1 .row1-c1 .row1-r1 .e2 {
    width: 100%;
  }
  .gallery .gallery-content .gallery-container .row1 .row1-c1 .row1-r1 .e3 {
    width: 100%;
  }
  .gallery .gallery-content .gallery-container .row1 .row1-c1 .row1-r2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .gallery .gallery-content .gallery-container .row1 .row1-c1 .row1-r2 img {
    width: 100%;
    height: 100%;
  }
  .gallery .gallery-content .gallery-container .row1 .row1-c1 .row1-r2 .e1 {
    width: 100%;
  }
  .gallery .gallery-content .gallery-container .row1 .row1-c1 .row1-r2 .e2 {
    width: 100%;
  }
  .gallery .gallery-content .gallery-container .row1 .row1-c2 img {
    width: 100%;
    height: 100%;
  }
  .gallery .gallery-content .gallery-container .row2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .gallery .gallery-content .gallery-container .row2 img {
    width: 100%;
    height: 100%;
  }
  .gallery .gallery-content .gallery-container .row2 .e1 {
    width: 100%;
  }
  .gallery .gallery-content .gallery-container .row2 .e2 {
    width: 100%;
  }
}
/*# sourceMappingURL=gallery.css.map */