@import "../variables/vaiables.scss";

.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: $nav-bg;
  display: flex;
  align-items: center;
  z-index: 10;
  height: 0;
  overflow: hidden;
  transition: height ease-in-out;
  .navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 8rem;
    .navbar-menu {
      display: flex;
      align-items: center;
      margin-left: 2rem;
      h3 {
        color: #eee;
        font-size: 2.5rem;
        margin-right: 2rem;
        font-weight: 400;
      }
      svg {
        display: none;
        font-size: 3.5rem;
        color: #eee;
      }
    }
    .button {
      font-size: 3rem;
      margin-right: 1rem;
      button {
        background-color: #3194d6;
        color: white;
        border: none;
        border-radius: 3px;
        font-weight: 500;
      }
      svg {
        display: none;
        font-size: 3.5rem;
        background-color: #3194d6;
        color: #eee;
        padding: 1rem;
        border-radius: 5px;
      }
      @media (max-width: 500px) {
        button {
          display: none;
        }
        svg {
          display: block;
        }
      }
    }
    .navbar-image {
      transform: translateX(18px);
      img {
        background-color: #eee;
        color: #eee;
        width: 15rem;
        height: 5rem;
      }
    }
    .navbar-links {
      display: flex;
      align-items: center;
    }
    ul {
      display: flex;
      list-style: none;
      li {
        margin-right: 1rem;
        padding: 1rem;
        transition: all 1s ease;
        a {
          color: #eee;
          text-decoration: none;
          transition: all 1s ease;
          font-size: 3rem;
        }
        &:hover {
          background-color: white;
          a {
            color: black;
          }
        }
      }
    }

    ul.active {
      display: flex;
    }

    .bars-btn {
      display: none;
    }

    @media (max-width: 800px) {
      .bars-btn {
        display: block;
      }

      ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 99%;
        left: 0;
        right: 0;
        background-color: white;
        border-top: 1px solid rgb(179, 179, 179);
        border-bottom: 1px solid rgb(179, 179, 179);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        transition: 0.4s linear;
        background-color: $nav-bg;
      }

      ul.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        transition: 0.4s linear;
      }
    }

    ul.active {
      display: flex;

      li {
        margin-right: 1rem;
        padding: 1rem;
        transition: all 1s ease;

        a {
          color: rgb(215, 215, 215);
          text-decoration: none;
          transition: all 1s ease;
          font-size: 3rem;
        }

        &:hover {
          background-color: white;

          a {
            color: black;
          }
        }
      }
    }
  }
}
.navbar.active {
  height: 8rem;
  overflow: auto;
}
