@import "../variables/vaiables.scss";

.Contact-us {
  padding: 5rem 5rem;
  background-color: #1f618d;
  .header {
    margin-bottom: 2rem;
    h1 {
      color: white;
    }
    &::after {
      content: "";
      position: absolute;
      width: 10rem;
      height: 0.5rem;
      background-color: white;
      border-radius: 1rem;
    }
  }
  .contact-content {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    // display: grid;
    // grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
    align-items: center;
    justify-content: space-between;
    .contact-location {
      width: 100%;
      flex: 40rem;
      .location-map {
        iframe {
          width: 100%;
          height: 53rem;
        }
      }
    }
    .contactForm {
      width: 100%;
      flex: 40rem;
      height: 53rem;
      align-items: center;
      background-color: white;
      padding-top: 2rem;
      form {
        padding: 0rem 3rem;

        @media (max-width: 410px) {
          .captcha {
            transform: scale(0.7);
          }
        }
      }
      input,
      textarea {
        border: none;
        border-bottom: 0.1rem solid rgba(0, 0, 0, 0.3);
      }
    }
  }
}
