@import "../variables/vaiables.scss";

.Price-List-container {
  padding: 5rem 2rem;
  background: #1f618d;

  @media (max-width: 500px) {
    padding: 5rem 3%;
  }

  .header {
    margin-bottom: 2rem;
    h1 {
      font-size: 4rem;
      color: white;
    }
    &::after {
      content: "";
      position: absolute;
      width: 10rem;
      height: 0.5rem;
      background-color: white;
      border-radius: 1rem;
    }
  }
  .Price-Container {
    padding: 2rem 0rem;
    .price-box {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(30rem, 0fr));
      gap: 3rem;
      align-items: center;
      justify-content: center;
      padding: 0 5rem;
      .price-main-box {
        background: white;
        border: 1px solid white;
        text-align: center;
        padding: 1rem 0rem;
        padding-top: 3rem;
        border-radius: 1rem;
        // padding: 5rem;
        img {
          width: 20rem;
          height: 15rem;
          margin-bottom: 6rem;
        }
        .price-title {
          margin-bottom: 2rem;
          color: $dgray;
          text-shadow: 2px 2px 0px #3194d6;
        }
        p {
          font-size: 2rem;
          margin-bottom: 1rem;
          color: $dgray;
        }
        button {
          background-color: black;
          padding: 1rem 5rem;
          border: none;
          margin: 1rem 0rem;
          cursor: pointer;
          color: white;
          font-size: 2rem;
        }
      }
    }
  }
  .master-plan {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 6rem;
    .master-plan-container {
      img {
        width: 100%;
      }
      p {
        font-size: 3rem;
        color: white;
        text-align: center;
        margin-top: 2rem;
        font-weight: 500;
      }
    }
  }
}
